<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.MiGlassesEn">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receiver.HostIpReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.xuanran.miglasses.action.CAPTURE_HOST_IP" />
                <action android:name="dev.xuanran.miglasses.action.P2P_RESULT" />
                <action android:name="dev.xuanran.miglasses.action.NETWORK_TRACE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
